@import "node_modules/bootstrap/scss/bootstrap";
body{
  font-weight: lighter;
}

.btn{
  line-height: 1;
}

.custom-control{
  label{
    letter-spacing: 0.05em;
  }
}
h1, h2, h3, h4, h5, h6, input{
  font-weight: lighter;
  letter-spacing: 0.05em;
}
h2, h4, h6{
  text-transform: uppercase;
}

input[type="time"]  {
  &::-webkit-clear-button,
  &::-ms-clear{
    display: none; 
  }
}

.toggle-label.custom-checkbox{

  padding:0.5em;
  cursor: pointer;

  .custom-control-label{
    
    cursor: pointer;
    color:#fff;
    font-weight: bold;
    opacity: 0.25;
    transition: opacity 0.15s ease-in-out;
    &:after, &:before{
      display:none;
    }
  }
  .custom-control-input:checked ~ .custom-control-label{
    opacity: 1;
    &:after, &:before{
      display:none;
    }
  }
}


.toggle.custom-checkbox{

  padding:0.5em 0.5em 0.5em 3.5em;
  cursor: pointer;

  .custom-control-label{

    padding-left: 3.5em;
    margin-left: -3.5em;
    cursor: pointer;

    span{
      opacity: 0.25;
      transition: opacity 0.15s ease-in-out;
    }

    &:before{
      width: 3em;
      border-radius: 1em;
      height: 1.5em;
      top: 0.4em;
      background-color: #000;
      opacity: 0.4;
    }
    &:after{
      left: 0.25em;
      border-radius: 100%;
      top: 0.65em;
      background-color: #fff;
      opacity: 0.4;
      width: 1em;
      height: 1em;
      transition: left 0.15s ease-in-out;


    }
  }
  .custom-control-input:checked ~ .custom-control-label{
    
    span{
      opacity: 1;  
    }
    &:after{
      background-image:none;
      opacity: 1;
      left: 1.75em;
    }
    &:before{
      background-color: #000;
    }
  }

  &.vertical{

  }
}

input{
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border:1px solid;
}

input.shy{
  border:1px solid rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-in-out;
  &:focus{
    border-color:rgba(255, 255, 255, 1);
  }
}