@import "node_modules/bootstrap/scss/bootstrap";
:host{

}

@keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}
.alarm-container{
  position: relative;
  overflow: hidden;
}
input{
  width:100%;
  max-width: 100%;
}
input.shy{
  background-color: transparent;
  border:1px solid rgba(255, 255, 255, 0);

  &:focus{
    border-color:rgba(255, 255, 255, 1);
    border-color:$info;
  }
}
.time{
  font-size: 1.5rem;  
  @media(min-width: 576px){
    font-size: 3rem;  
  }
  
}
.active{
  i{
    font-size: 3rem;    
  }
 
}
a{
  i{
    position: relative;
    top:0.25em;
  }
  &:hover{
    text-decoration: none;
  }
}
h6{
  padding:0.5em 0;
  margin:0;
}
.label{
  width: 100%;
}

.custom-control.toggle{

}

.loading-indication{
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  background-size: 30px 30px;
  background-image: linear-gradient(
    45deg, 
    rgba(black, 0.1)  25%, 
    transparent       25%, 
    transparent       50%, 
    rgba(black, 0.1)  50%, 
    rgba(black, 0.1)  75%, 
    transparent       75%, 
    transparent
  );  
  animation: barberpole 0.5s linear infinite;

  font-size: 0.7em;
  display: none;
}
.loading-true .loading-indication{
  display: block;
}

.delete.text-secondary{
  transition: opacity 0.15s ease-in-out;
  &:focus{
    outline:0;
    color:$info !important;
  }
}
.loading-true .delete{
  opacity: 0;
  pointer-events: none;
}
