<div class="p-4 text-white bg-dark border-bottom border-secondary">
  <input type="hidden" name="id" value="" />
  
  
  <div class="row">
    <div class="col-sm-11">
      <input type="text" placeholder="Alarm nickname" id="id_alarm-{{id}}-nickname" name="alarm-{{id}}-nickname" class="text-light shy" />
    </div>
   
    <div class="col-sm-1 text-right">
      <button type="button" class="btn btn-outline-warning"><i class="material-icons">close</i></button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <input type="time" placeholder="Time" id="id_alarm-{{id}}-time" name="alarm-{{id}}-time" class="time text-white" step="60" value="22:53:05"/>
    </div>
    
    <div class="col-sm-5">
      
      <soundpicker src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3"></soundpicker> 
    </div>
    <div class="col-sm-2">
      <div class="custom-control custom-checkbox toggle vertical">
        <input type="checkbox" class="custom-control-input" id="id_alarm-{{id}}-active" name="alarm-{{id}}-active">
        <label class="custom-control-label" for="id_alarm-{{id}}-active"><span>Active</span></label>
      </div>
    </div>
  </div>

  <div class="my-4 text-center">
    <h6 class="d-inline">Repeat</h6>

    <div class="custom-control custom-checkbox d-inline toggle-label">
      <input type="checkbox" class="custom-control-input" id="id_alarm-{{id}}-repeat_mon" name="alarm-{{id}}-repeat_mon">
      <label class="custom-control-label" for="id_alarm-{{id}}-repeat_mon"><span>MON</span></label>
    </div>

    <div class="custom-control custom-checkbox d-inline toggle-label">
      <input type="checkbox" class="custom-control-input" id="id_alarm-{{id}}-repeat_tue" name="alarm-{{id}}-repeat_tue">
      <label class="custom-control-label" for="id_alarm-{{id}}-repeat_tue"><span>TUE</span></label>
    </div>

    <div class="custom-control custom-checkbox d-inline toggle-label">
      <input type="checkbox" class="custom-control-input" id="id_alarm-{{id}}-repeat_wed" name="alarm-{{id}}-repeat_wed">
      <label class="custom-control-label" for="id_alarm-{{id}}-repeat_wed"><span>WED</span></label>
    </div>

    <div class="custom-control custom-checkbox d-inline toggle-label">
      <input type="checkbox" class="custom-control-input" id="id_alarm-{{id}}-repeat_thu" name="alarm-{{id}}-repeat_thu">
      <label class="custom-control-label" for="id_alarm-{{id}}-repeat_thu"><span>THU</span></label>
    </div>

    <div class="custom-control custom-checkbox d-inline toggle-label">
      <input type="checkbox" class="custom-control-input" id="id_alarm-{{id}}-repeat_fri" name="alarm-{{id}}-repeat_fri">
      <label class="custom-control-label" for="id_alarm-{{id}}-repeat_fri"><span>FRI</span></label>
    </div>

    <div class="custom-control custom-checkbox d-inline toggle-label">
      <input type="checkbox" class="custom-control-input" id="id_alarm-{{id}}-repeat_sat" name="alarm-{{id}}-repeat_sat">
      <label class="custom-control-label" for="id_alarm-{{id}}-repeat_sat"><span>SAT</span></label>
    </div>

    <div class="custom-control custom-checkbox d-inline toggle-label">
      <input type="checkbox" class="custom-control-input" id="id_alarm-{{id}}-repeat_sun" name="alarm-{{id}}-repeat_sun">
      <label class="custom-control-label" for="id_alarm-{{id}}-repeat_sun"><span>SUN</span></label>
    </div>

    <div class="custom-control custom-checkbox d-inline toggle">
        <input type="checkbox" class="custom-control-input" id="id_alarm-{{id}}-allow_snooze" name="alarm-{{id}}-allow_snooze">
        <label class="custom-control-label" for="id_alarm-{{id}}-allow_snooze"><span>Snoozable</span></label>
      </div>

  </div>

  <div class="text-center">
    <small class="text-light">Last synchronized on 00:00 1/1/11</small>
  </div>
</div>