<div class="p-2">
  <input type="hidden" name="id" value="" />
  <input type="text" placeholder="Nickname" name="nickname" class="nickname"/>

  <div class="row">
    <div class="col-sm-4">
      <input type="time" placeholder="Time" name="time" class="time" step="60"/>
    </div>
    <div class="col-sm-2">
      <div class="custom-control custom-checkbox toggle">
        <input type="checkbox" class="custom-control-input" id="id_allow_snooze" name="allow_snooze">
        <label class="custom-control-label" for="id_allow_snooze">Snoozable</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="id_sound">
        <label class="custom-file-label" for="id_sound">Sound</label>
      </div>

      <!-- <audio controls>
        <source src="horse.mp3" type="audio/mpeg">
      </audio>  -->
    </div>
    <div class="col-sm-2">
      <div class="custom-control custom-checkbox toggle">
        <input type="checkbox" class="custom-control-input" id="id_active" name="active">
        <label class="custom-control-label" for="id_active">Active</label>
      </div>
    </div>
  </div>

  <div>
    <h6>Repeat</h6>

    <div class="custom-control custom-checkbox d-inline">
      <input type="checkbox" class="custom-control-input" id="id_repeat_mon" name="repeat_mon">
      <label class="custom-control-label" for="id_repeat_mon">MON</label>
    </div>

    <div class="custom-control custom-checkbox d-inline">
      <input type="checkbox" class="custom-control-input" id="id_repeat_tue" name="repeat_tue">
      <label class="custom-control-label" for="id_repeat_tue">TUE</label>
    </div>

    <div class="custom-control custom-checkbox d-inline">
      <input type="checkbox" class="custom-control-input" id="id_repeat_mon" name="repeat_mon">
      <label class="custom-control-label" for="id_repeat_mon">MON</label>
    </div>

    <div class="custom-control custom-checkbox d-inline">
      <input type="checkbox" class="custom-control-input" id="id_repeat_tue" name="repeat_tue">
      <label class="custom-control-label" for="id_repeat_tue">TUE</label>
    </div>

    <div class="custom-control custom-checkbox d-inline">
      <input type="checkbox" class="custom-control-input" id="id_repeat_mon" name="repeat_mon">
      <label class="custom-control-label" for="id_repeat_mon">MON</label>
    </div>

    <div class="custom-control custom-checkbox d-inline">
      <input type="checkbox" class="custom-control-input" id="id_repeat_tue" name="repeat_tue">
      <label class="custom-control-label" for="id_repeat_tue">TUE</label>
    </div>

    <div class="custom-control custom-checkbox d-inline">
      <input type="checkbox" class="custom-control-input" id="id_repeat_mon" name="repeat_mon">
      <label class="custom-control-label" for="id_repeat_mon">MON</label>
    </div>

  </div>

  <small class="text-light">Last synchronized on 00:00 1/1/11</small>
</div>