:host{
}
input{
  width:100%;
  max-width: 100%;
}
input.shy{
  background-color: transparent;
  border:1px solid rgba(255, 255, 255, 0);

  &:focus{
    border-color:rgba(255, 255, 255, 1);
  }
}
input.time{
  font-size: 3rem;
}

h6{
  opacity: 0.25;
  padding:0.5em 0;
  margin:0;
}
small{
  opacity: 0.5;
  letter-spacing: 0.05em;
}

.custom-control.toggle{

}